
#navbar{                
    display: block;
    padding: 15px;           
    display: flex;
    justify-content: center;
    margin-top: -8px;

}
#navbar *{
    font-size: x-large;   /*TODO: Revisar esto*/
}
.nav-left {
    display: flex;
    align-items: center;

}

.nav-left img {
    height: 40px; /* Ajusta el tamaño de la imagen según sea necesario */
    margin-right: 10px;
}

.nav-right a {
    margin-left: 20px;
    text-decoration: none;
    color: black; /* Ajusta el color de los enlaces según sea necesario */
}