#tabla_trafico::-webkit-scrollbar {
    width: 10px; /* Ancho del scrollbar */
}

#tabla_trafico::-webkit-scrollbar-thumb {
    background-color: #888; /* Color del thumb (deslizador) */
}

#tabla_trafico {    
    height: 600px; 
    overflow-y: auto;  
    scrollbar-color: #888 transparent; /* Color del thumb y track para Firefox */
    border: 1px solid #d4d4d4;
    border-radius: 10px;
}

#trafico {
    width: 100%;
    text-align: left;
}

#trafico thead tr {    
    position: sticky;
    top: 0;
    background-color: white;
    text-align: left;
    font-weight: bold;
}

#trafico th, #trafico td {
    padding: 12px 15px; /* Relleno interno para mayor espacio */    
}

button{
    margin: 10px;
}

.fila_tcp{
    background-color: #ccfff3;
}

.fila_tcp:hover{
    background-color: #aaffeb;
}

.fila_udp{
    background-color: #bbffc7;
}

.fila_udp:hover{
    background-color: #a1ffb2;
}

.fila_dns{
    background-color: #e1bcff;
}

.fila_dns:hover{
    background-color: #cf95ff;
}