{% extends "layout.html" %}

{%block content%}
    <h1>Información en Tiempo Real</h1>

    <div id="a">
        <p>UE conectado con la siguiente informacion:</p>
        <ul id="informacion">
            <div class="spinner-border" role="status">
                <span class="visually-hidden">Loading...</span>
              </div>
        </ul>
    </div>
    <button type="button" onclick="window.location.href='/trafico'">Ir a Tráfico</button>

    <script type="text/javascript">
    
        var socket = io.connect('http://' + document.domain + ':' + location.port);
    
        socket.on('connect', function() {
            console.log("Conectado al servidor index");
        });
    
        socket.on('info_update', function(data) {
            console.log("Recibido:", data);  // Para depuración
            
            document.getElementById('informacion').innerHTML = 
                '<li>IP:' + data.ip +'</li>'+
                '<li>IMSI:'+ data.imsi+'</li>'+
                '<li>APN:' + data.apn + '</li>'+
                '<li>Num ues:' + data.ue + '</li>';
        });
    </script>
{%endblock%}


