{%extends "layout.html"%}

{%block content%}    

    <select id="select-ip" class="form-select">
        <option selected>Selecciona una IP</option>
        {% for ip in ips %}
            <option value="{{ ip }}">{{ ip }}</option>
        {% endfor %}
    </select>

    <button id="continueTcpdump" class="btn btn-primary active" aria-pressed="true">Iniciar captura</button>

    <button id="stopTcpdump" class="btn btn-danger active" aria-pressed="true">Detener captura</button>
 
    <div id="tabla_trafico" >
        <table id="trafico" >
            <thead>
            <tr>
                <th scope="col">Tiempo</th>
                <th scope="col">IP origen</th>
                <th scope="col">Puerto origen</th>
                <th scope="col">IP destino</th>
                <th scope="col">Puerto destino</th>
                <th scope="col">Flags</th>
                <th scope="col">seq</th>
                <th scope="col">ack</th>
                <th scope="col">win</th>
                <th scope="col">options</th>
                <th scope="col">Longitud</th>
            </tr>
            </thead>
            <tbody id="fila_trafico">
            
            </tbody>
        </table>
    </div>
    <script type="text/javascript">
        
        var socket = io.connect('http://' + document.domain + ':' + location.port);

        socket.on('connect', function() {
            console.log("Conectado al servidor");
        });

        socket.on('trafico_update', function(data) {
            //console.log("Recibido:", data);  // Para depuración            
            var rowClass = '';            
            if(data.type == "TCP"){
                rowClass = 'fila_tcp';
                console.log("FILA TCP");
            } else if(data.type == "UDP"){
                rowClass = 'fila_udp';
            } else if(data.type == "DNS"){
                rowClass = 'fila_dns';
            }

            document.getElementById('fila_trafico').innerHTML +=
                '<tr class="' + rowClass + '">' +                 
                '<th scope="row">' + data.timestamp + '</th>' +
                '<td>' +data.src_ip + '</td>' +
                '<td>' +data.src_port + '</td>' +
                '<td>' +data.dst_ip + '</td>' +
                '<td>' +data.dst_port + '</td>' +
                '<td>' +data.flags + '</td>' +
                '<td>' +data.seq + '</td>' +
                '<td>' +data.ack + '</td>' +
                '<td>' +data.win + '</td>' +
                '<td>' +data.options + '</td>' +
                '<td>' +data.len + '</td>' +
                '</tr>';
        });

        document.getElementById('stopTcpdump').addEventListener('click', function() {
            console.log("Botón pulsado");
            socket.emit('stop_tcpdump');
        });

        socket.on('tcpdump_stopped', function(message) {
            alert(message);
        });

        document.getElementById('continueTcpdump').addEventListener('click', function() {
            var selectedIp = document.getElementById('select-ip').value;
            socket.emit('continue_tcpdump', { selectedIp: selectedIp });
        });

    </script>
{%endblock%}

